<html>
<head>
	<title>Registrieren</title>
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body> <br />
	%ERROR%
	<form action="index.php?page=register" method="post">
		<label for="user">Username:&nbsp;&nbsp;&nbsp;</label><input type="text" id="user" name="user">
		<label for="pwd">Passwort:&nbsp;&nbsp;&nbsp;</label><input type="password" id="pwd" name="pwd">
		<input type="hidden" name="register">
		<button type="submit">Registrieren</button>
	</form>
	<br><br>
	<a href="index.php">Login</a>
</body>
</html>